# FLIP ROBO TECHNOLOGIES

# NAME: BIJAY PAREEK

# BATCH: DS2308


# Third-Phase-Practice-Projects--1-


# Project Description:

The dataset contains grades scored by students throughout their university tenure in various courses and their CGPA calculated based on their grades

# Columns Description- total 43 columns

# -Seat No : The enrolled number of candidate that took the exams

# CGPA : The cumulative GPA based on the four year total grade progress of each candidate . CGPA is a Final Marks -- provided to student.

• All other columns are course codes in the format AB-XXX where AB are alphabets representing candidates' departments and XXX are numbers where first X represents the year the canditate took exam

# Predict - CGPA of a student based on different grades in four years.


# Dataset Link- • https://github.com/dsrscientist/dataset4 • 

# https://github.com/dsrscientist/dataset4/blob/main/Grades.csv

# Import necessary libraries:

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
# Load the dataset
df = pd.read_csv(r"C:/Users/raj/Downloads/Grades.csv")
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

# Display the first few rows of the dataset to understand its structure:

In [3]:
df.isnull().sum()

Seat No.      0
PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
CGPA          0
dtype: int64

Seat No.      0
PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
CGPA          0
dtype: int64

In [4]:
print(df.head())

   Seat No. PH-121 HS-101 CY-105 HS-105/12 MT-111 CS-105 CS-106 EL-102 EE-119  \
0  CS-97001     B-     D+     C-         C     C-     D+      D     C-     B-
1  CS-97002      A      D     D+         D     B-      C      D      A     D+
2  CS-97003      A      B      A        B-     B+      A     B-     B+     A-
3  CS-97004      D     C+     D+         D      D     A-     D+     C-      D
4  CS-97005     A-     A-     A-        B+      A      A     A-     B+      A

   ... CS-312 CS-317 CS-403 CS-421 CS-406 CS-414 CS-419 CS-423 CS-412   CGPA
0  ...     C-     C-     C-     C-     A-      A     C-      B     A-  2.205
1  ...     D+      D      C      D     A-     B-      C      C      B  2.008
2  ...      B      B      A      C      A      A      A     A-      A  3.608
3  ...     D+      C     D+     C-     B-      B     C+     C+     C+  1.906
4  ...     B-     B+     B+     B-     A-      A     A-     A-      A  3.448

[5 rows x 43 columns]
   Seat No. PH-121 HS-101 CY-105 HS-105/12 MT-111 CS-105 CS-106 EL-102 EE-119  \
0  CS-97001     B-     D+     C-         C     C-     D+      D     C-     B-
1  CS-97002      A      D     D+         D     B-      C      D      A     D+
2  CS-97003      A      B      A        B-     B+      A     B-     B+     A-
3  CS-97004      D     C+     D+         D      D     A-     D+     C-      D
4  CS-97005     A-     A-     A-        B+      A      A     A-     B+      A

   ... CS-312 CS-317 CS-403 CS-421 CS-406 CS-414 CS-419 CS-423 CS-412   CGPA
0  ...     C-     C-     C-     C-     A-      A     C-      B     A-  2.205
1  ...     D+      D      C      D     A-     B-      C      C      B  2.008
2  ...      B      B      A      C      A      A      A     A-      A  3.608
3  ...     D+      C     D+     C-     B-      B     C+     C+     C+  1.906
4  ...     B-     B+     B+     B-     A-      A     A-     A-      A  3.448

[5 rows x 43 columns]

# Encode categorical columns (course codes) using Label Encoding:

In [5]:
label_encoder = LabelEncoder()
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = label_encoder.fit_transform(df[column])

In [6]:
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,0,5,10,8,6,8,10,9,8,5,...,8,8,8,8,2,0,8,3,2,2.205
1,1,0,9,10,9,5,6,9,0,10,...,10,9,6,9,2,5,6,6,3,2.008
2,2,0,3,0,5,4,0,5,4,2,...,3,3,0,6,0,0,0,2,0,3.608
3,3,9,7,10,9,9,2,10,8,9,...,10,6,10,8,5,3,7,7,7,1.906
4,4,2,2,2,4,0,0,2,4,0,...,5,4,4,5,2,0,2,2,0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,3,0,0,2,1,0,2,2,1,...,2,2,0,0,0,4,4,3,0,3.798
567,567,1,0,0,0,0,0,0,2,0,...,4,4,0,0,2,3,2,6,2,3.772
568,568,3,0,2,4,0,0,0,0,0,...,2,3,0,4,0,6,4,2,2,3.470
569,569,0,4,9,0,9,10,5,8,5,...,9,3,3,8,9,6,3,5,6,2.193
570,570,6,9,9,6,6,10,3,7,6,...,7,6,5,9,11,8,4,9,8,1.753

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,0,5,10,8,6,8,10,9,8,5,...,8,8,8,8,2,0,8,3,2,2.205
1,1,0,9,10,9,5,6,9,0,10,...,10,9,6,9,2,5,6,6,3,2.008
2,2,0,3,0,5,4,0,5,4,2,...,3,3,0,6,0,0,0,2,0,3.608
3,3,9,7,10,9,9,2,10,8,9,...,10,6,10,8,5,3,7,7,7,1.906
4,4,2,2,2,4,0,0,2,4,0,...,5,4,4,5,2,0,2,2,0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,3,0,0,2,1,0,2,2,1,...,2,2,0,0,0,4,4,3,0,3.798
567,567,1,0,0,0,0,0,0,2,0,...,4,4,0,0,2,3,2,6,2,3.772
568,568,3,0,2,4,0,0,0,0,0,...,2,3,0,4,0,6,4,2,2,3.470
569,569,0,4,9,0,9,10,5,8,5,...,9,3,3,8,9,6,3,5,6,2.193
570,570,6,9,9,6,6,10,3,7,6,...,7,6,5,9,11,8,4,9,8,1.753

In [7]:
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,0,5,10,8,6,8,10,9,8,5,...,8,8,8,8,2,0,8,3,2,2.205
1,1,0,9,10,9,5,6,9,0,10,...,10,9,6,9,2,5,6,6,3,2.008
2,2,0,3,0,5,4,0,5,4,2,...,3,3,0,6,0,0,0,2,0,3.608
3,3,9,7,10,9,9,2,10,8,9,...,10,6,10,8,5,3,7,7,7,1.906
4,4,2,2,2,4,0,0,2,4,0,...,5,4,4,5,2,0,2,2,0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,3,0,0,2,1,0,2,2,1,...,2,2,0,0,0,4,4,3,0,3.798
567,567,1,0,0,0,0,0,0,2,0,...,4,4,0,0,2,3,2,6,2,3.772
568,568,3,0,2,4,0,0,0,0,0,...,2,3,0,4,0,6,4,2,2,3.470
569,569,0,4,9,0,9,10,5,8,5,...,9,3,3,8,9,6,3,5,6,2.193
570,570,6,9,9,6,6,10,3,7,6,...,7,6,5,9,11,8,4,9,8,1.753

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,0,5,10,8,6,8,10,9,8,5,...,8,8,8,8,2,0,8,3,2,2.205
1,1,0,9,10,9,5,6,9,0,10,...,10,9,6,9,2,5,6,6,3,2.008
2,2,0,3,0,5,4,0,5,4,2,...,3,3,0,6,0,0,0,2,0,3.608
3,3,9,7,10,9,9,2,10,8,9,...,10,6,10,8,5,3,7,7,7,1.906
4,4,2,2,2,4,0,0,2,4,0,...,5,4,4,5,2,0,2,2,0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,3,0,0,2,1,0,2,2,1,...,2,2,0,0,0,4,4,3,0,3.798
567,567,1,0,0,0,0,0,0,2,0,...,4,4,0,0,2,3,2,6,2,3.772
568,568,3,0,2,4,0,0,0,0,0,...,2,3,0,4,0,6,4,2,2,3.470
569,569,0,4,9,0,9,10,5,8,5,...,9,3,3,8,9,6,3,5,6,2.193
570,570,6,9,9,6,6,10,3,7,6,...,7,6,5,9,11,8,4,9,8,1.753

# NOW WE ARE GOING TO SEE NAN:

In [8]:
df.isnull().sum()

Seat No.     0
PH-121       0
HS-101       0
CY-105       0
HS-105/12    0
MT-111       0
CS-105       0
CS-106       0
EL-102       0
EE-119       0
ME-107       0
CS-107       0
HS-205/20    0
MT-222       0
EE-222       0
MT-224       0
CS-210       0
CS-211       0
CS-203       0
CS-214       0
EE-217       0
CS-212       0
CS-215       0
MT-331       0
EF-303       0
HS-304       0
CS-301       0
CS-302       0
TC-383       0
MT-442       0
EL-332       0
CS-318       0
CS-306       0
CS-312       0
CS-317       0
CS-403       0
CS-421       0
CS-406       0
CS-414       0
CS-419       0
CS-423       0
CS-412       0
CGPA         0
dtype: int64

Seat No.     0
PH-121       0
HS-101       0
CY-105       0
HS-105/12    0
MT-111       0
CS-105       0
CS-106       0
EL-102       0
EE-119       0
ME-107       0
CS-107       0
HS-205/20    0
MT-222       0
EE-222       0
MT-224       0
CS-210       0
CS-211       0
CS-203       0
CS-214       0
EE-217       0
CS-212       0
CS-215       0
MT-331       0
EF-303       0
HS-304       0
CS-301       0
CS-302       0
TC-383       0
MT-442       0
EL-332       0
CS-318       0
CS-306       0
CS-312       0
CS-317       0
CS-403       0
CS-421       0
CS-406       0
CS-414       0
CS-419       0
CS-423       0
CS-412       0
CGPA         0
dtype: int64

# Split the dataset into features (X) and target variable (y)

In [9]:
X = df.drop('CGPA', axis=1)
y = df['CGPA']

In [10]:
X

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,0,5,10,8,6,8,10,9,8,5,...,6,8,8,8,8,2,0,8,3,2
1,1,0,9,10,9,5,6,9,0,10,...,9,10,9,6,9,2,5,6,6,3
2,2,0,3,0,5,4,0,5,4,2,...,2,3,3,0,6,0,0,0,2,0
3,3,9,7,10,9,9,2,10,8,9,...,8,10,6,10,8,5,3,7,7,7
4,4,2,2,2,4,0,0,2,4,0,...,2,5,4,4,5,2,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,3,0,0,2,1,0,2,2,1,...,4,2,2,0,0,0,4,4,3,0
567,567,1,0,0,0,0,0,0,2,0,...,2,4,4,0,0,2,3,2,6,2
568,568,3,0,2,4,0,0,0,0,0,...,4,2,3,0,4,0,6,4,2,2
569,569,0,4,9,0,9,10,5,8,5,...,4,9,3,3,8,9,6,3,5,6
570,570,6,9,9,6,6,10,3,7,6,...,10,7,6,5,9,11,8,4,9,8

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,0,5,10,8,6,8,10,9,8,5,...,6,8,8,8,8,2,0,8,3,2
1,1,0,9,10,9,5,6,9,0,10,...,9,10,9,6,9,2,5,6,6,3
2,2,0,3,0,5,4,0,5,4,2,...,2,3,3,0,6,0,0,0,2,0
3,3,9,7,10,9,9,2,10,8,9,...,8,10,6,10,8,5,3,7,7,7
4,4,2,2,2,4,0,0,2,4,0,...,2,5,4,4,5,2,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,3,0,0,2,1,0,2,2,1,...,4,2,2,0,0,0,4,4,3,0
567,567,1,0,0,0,0,0,0,2,0,...,2,4,4,0,0,2,3,2,6,2
568,568,3,0,2,4,0,0,0,0,0,...,4,2,3,0,4,0,6,4,2,2
569,569,0,4,9,0,9,10,5,8,5,...,4,9,3,3,8,9,6,3,5,6
570,570,6,9,9,6,6,10,3,7,6,...,10,7,6,5,9,11,8,4,9,8

In [11]:
y

0      2.205
1      2.008
2      3.608
3      1.906
4      3.448
       ...
566    3.798
567    3.772
568    3.470
569    2.193
570    1.753
Name: CGPA, Length: 571, dtype: float64

0      2.205
1      2.008
2      3.608
3      1.906
4      3.448
       ...
566    3.798
567    3.772
568    3.470
569    2.193
570    1.753
Name: CGPA, Length: 571, dtype: float64

# Split the data into training and testing sets:

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the XGBoost model:

In [13]:
model = XGBRegressor()

In [14]:
model

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

# Train the model:

In [15]:
model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

# Make predictions on the test set:

In [16]:
y_pred = model.predict(X_test)

In [17]:
y_pred

array([1.8682195, 3.5497136, 2.9130292, 2.326415 , 3.8084133, 3.4869823,
       2.7803855, 2.3195376, 2.2553585, 2.935853 , 3.442454 , 3.1063726,
       3.6120455, 2.5957148, 3.9026933, 2.5454018, 2.1135795, 3.6341994,
       2.234909 , 2.4533794, 2.2136734, 3.8462963, 2.466828 , 2.663082 ,
       2.8292139, 3.3735995, 3.218076 , 2.3342206, 3.3619578, 3.394252 ,
       2.44033  , 2.6432126, 3.3996863, 3.335067 , 3.5106409, 3.0304685,
       2.5354376, 3.899415 , 2.8182428, 1.9070367, 3.7436292, 3.3344095,
       3.7408352, 3.6527905, 3.1928074, 2.4884152, 2.5898714, 3.1929777,
       3.2691324, 3.8109436, 3.4480226, 3.2406297, 3.346838 , 3.5706084,
       3.4518785, 3.0267859, 3.745013 , 3.6609528, 3.6815615, 2.724807 ,
       3.7532682, 3.3782535, 3.783301 , 3.5562909, 3.2567496, 3.2404478,
       3.585729 , 3.1458704, 3.04205  , 2.2308087, 3.6886513, 3.2717912,
       2.407043 , 3.7874703, 3.8603635, 3.381454 , 3.4588547, 2.2665393,
       3.7631636, 3.180278 , 2.5612411, 2.7905664, 1.5254134, 2.80738  ,
       3.7795727, 3.8227143, 3.2922435, 2.7977839, 2.5156717, 2.018418 ,
       2.93642  , 3.1184382, 2.3514142, 2.6418188, 1.997259 , 3.730713 ,
       3.830705 , 3.015898 , 2.8348835, 2.7715938, 3.4410567, 3.2340763,
       3.1151185, 2.3015432, 2.8332565, 3.5465014, 2.3673766, 2.6058264,
       2.257303 , 2.627472 , 2.8609388, 3.2469003, 3.638445 , 3.5066047,
       2.7260857], dtype=float32)

array([1.8682195, 3.5497136, 2.9130292, 2.326415 , 3.8084133, 3.4869823,
       2.7803855, 2.3195376, 2.2553585, 2.935853 , 3.442454 , 3.1063726,
       3.6120455, 2.5957148, 3.9026933, 2.5454018, 2.1135795, 3.6341994,
       2.234909 , 2.4533794, 2.2136734, 3.8462963, 2.466828 , 2.663082 ,
       2.8292139, 3.3735995, 3.218076 , 2.3342206, 3.3619578, 3.394252 ,
       2.44033  , 2.6432126, 3.3996863, 3.335067 , 3.5106409, 3.0304685,
       2.5354376, 3.899415 , 2.8182428, 1.9070367, 3.7436292, 3.3344095,
       3.7408352, 3.6527905, 3.1928074, 2.4884152, 2.5898714, 3.1929777,
       3.2691324, 3.8109436, 3.4480226, 3.2406297, 3.346838 , 3.5706084,
       3.4518785, 3.0267859, 3.745013 , 3.6609528, 3.6815615, 2.724807 ,
       3.7532682, 3.3782535, 3.783301 , 3.5562909, 3.2567496, 3.2404478,
       3.585729 , 3.1458704, 3.04205  , 2.2308087, 3.6886513, 3.2717912,
       2.407043 , 3.7874703, 3.8603635, 3.381454 , 3.4588547, 2.2665393,
       3.7631636, 3.180278 , 2.5612411, 2.7905664, 1.5254134, 2.80738  ,
       3.7795727, 3.8227143, 3.2922435, 2.7977839, 2.5156717, 2.018418 ,
       2.93642  , 3.1184382, 2.3514142, 2.6418188, 1.997259 , 3.730713 ,
       3.830705 , 3.015898 , 2.8348835, 2.7715938, 3.4410567, 3.2340763,
       3.1151185, 2.3015432, 2.8332565, 3.5465014, 2.3673766, 2.6058264,
       2.257303 , 2.627472 , 2.8609388, 3.2469003, 3.638445 , 3.5066047,
       2.7260857], dtype=float32)

# Evaluate the model:

In [18]:
rmse = sqrt(mean_squared_error(y_test, y_pred))
print(f"Root Mean Squared Error: {rmse}")

Root Mean Squared Error: 0.13880734189055244
Root Mean Squared Error: 0.13880734189055244

# Predict - CGPA of a student based on different grades in four years:

In [19]:
new_data = df.head()
predictions = model.predict(new_data.drop('CGPA', axis=1))
print("Predicted CGPA for the first 5 rows:")
print(predictions)

Predicted CGPA for the first 5 rows:
[2.204795  2.0077379 3.3782535 1.9057877 3.44803  ]
Predicted CGPA for the first 5 rows:
[2.204795  2.0077379 3.3782535 1.9057877 3.44803  ]

In [20]:
####################################################Thank You###################################################################