# FLIP ROBO TECHNOLOGIES


# NAME: BIJAY PAREEK

# BATCH: DS2308

# Medical Cost Personal Insurance Project

# Project Description

Health insurance is a type of insurance that covers medical expenses that arise due to an illness. These expenses could be related to hospitalisation costs, cost of medicines or doctor consultation fees. The main purpose of medical insurance is to receive the best medical care without any strain on your finances. Health insurance plans offer protection against high medical costs. It covers hospitalization expenses, day care procedures, domiciliary expenses, and ambulance charges, besides many others. Based on certain input features such as age , bmi,,no of dependents ,smoker ,region  medical insurance is calculated .

# Predict : Can you accurately predict insurance costs?

# Data Loading and Exploration:

# Load the dataset into a Pandas DataFrame.

 Here we will explore the dataset to understand its structure, check for missing values, and get basic statistics.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:/Users/raj/Desktop/medical_cost_insurance.csv") 
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# Data Preprocessing:

# Handle missing values if any.

Convert categorical variables (like 'sex', 'smoker', 'region') into numerical format (e.g., using one-hot encoding).

# Handle missing values (if any)

In [3]:
df.dropna(inplace=True)

# Convert categorical variables to numerical using one-hot encoding

In [4]:
df = pd.get_dummies(df, columns=['sex', 'smoker', 'region'], drop_first=True)

In [5]:
df

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,1,0,1,0,0
1334,18,31.920,0,2205.98080,0,0,0,0,0
1335,18,36.850,0,1629.83350,0,0,0,1,0
1336,21,25.800,0,2007.94500,0,0,0,0,1
1337,61,29.070,0,29141.36030,0,1,1,0,0

# Feature Scaling:

In [ ]:
from sklearn.preprocessing import StandardScaler

# Standardize numerical features
scaler = StandardScaler()
numerical_features = ['age', 'bmi', 'children']
df[numerical_features] = scaler.fit_transform(df[numerical_features])

# Split the Data:

Split the dataset into training and testing sets.

In [6]:
from sklearn.model_selection import train_test_split

# Define features (X) and target variable (y)

In [8]:
X = df.drop('charges', axis=1)
y = df['charges']

# Split the data into training and testing sets

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build and Train a Model:

In [10]:
from sklearn.linear_model import LinearRegression

# Create a linear regression model
df = LinearRegression()

# Train the model
df.fit(X_train, y_train)

LinearRegression()

# Evaluate the Model:

Evaluate the model on the testing set and analyze the performance metrics.

In [11]:
from sklearn.metrics import mean_squared_error, r2_score

# Make predictions on the test set
y_pred = df.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R2 Score: {r2}')

Mean Squared Error: 33596915.85136147
R2 Score: 0.7835929767120723

# Prediction:
Use the trained model to make predictions on new data.

In [13]:
# Example prediction for a new data point (replace values with actual values)
new_data = pd.DataFrame({'age': [25], 'bmi': [22], 'children': [0], 'smoker_yes': [0], 'sex_male': [1],
                         'region_northwest': [0], 'region_southeast': [1], 'region_southwest': [0]})
predicted_cost = df.predict(new_data)

print(f'Predicted Insurance Cost: {predicted_cost[0]}')

Predicted Insurance Cost: 24902.474297522902

C:\Users\raj\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)